<div class="eqLogic eqLogic-widget noResize netatmo netatmo-station NAModule1" data-eqType="#eqType#" data-category="#category#" data-tags="#data-tags#"
	style="width:180px; height:200px;padding : 0px; border:#border#; border-radius:#border-radius#;background-color:#background-color#; color:#color#;  #style#"
	data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#">
	<link rel="stylesheet" href="plugins/Netatmo/core/template/css/style.css"/>
	<center class="widget-name">
		<span class="statusCmd" style="position:absolute;bottom : 3px;left : 5px; width : 30px;z-index: 500;"></span>
		<i class='fa fa-refresh pull-right cursor refresh tooltips' title="Rafraîchir" style="margin-top: 3px;margin-right: 3px;"></i>
		<a href="#eqLink#">#name_display#</a>
	</center>
	<div class="col-xs-12">
		<div class="hygrothermographe">
			<img class="hygrothermographe-background" src="core/template/dashboard/cmd.info.numeric.HygroThermographe/No.ext_100_Dark.png"></img>
			<div class="cmd cmd-widget history cursor" data-type="info" data-cmd_id="#temperature_id#">
				<span class="intNumTemp"></span>
				<span class="decNumTemp"></span>
				<span class="uniteTemp">°C</span>
			</div>
			<div class="cmd cmd-widget history cursor" data-type="info" data-cmd_id="#humidity_id#">
				<span class="intNumHumidity"></span>
				<span class="uniteHumidity">%</span>
			</div>
			<span class="cmd numTempMin" data-cmd_id="#min_temp_id#"></span>
			<span class="cmd numTempMax" data-cmd_id="#max_temp_id#"></span>

			<span class="cmd cmd-widget history cursor pressure" data-type="info" data-cmd_id="#pressure_id#"></span>
			<span class="cmd cmd-widget history cursor absolutepressure" data-type="info" data-cmd_id="#absolutepressure_id#"></span>
			<span class="cmd cmd-widget history cursor co2" data-type="info" data-cmd_id="#co2_id#"></span>
			<span class="cmd cmd-widget history cursor noise" data-type="info" data-cmd_id="#noise_id#"></span>
		</div>
	</div>
	<script type="text/javascript">
		jeedom.cmd.update['#temperature_id#'] = function (_options) {
			var n = parseFloat(_options.display_value).toFixed(1);
			var nsplit = n.split('.');
			var _int = nsplit[0];
			var _dec = nsplit[1];
			var id = $('.netatmo[data-eqLogic_id=#id#]');
			id.find(".intNumTemp").empty().append(_int);
			id.find(".decNumTemp").empty().append(_dec);
		};
		jeedom.cmd.update['#temperature_id#']({display_value: '#temperature#'});

		jeedom.cmd.update['#humidity_id#'] = function (_options) {
			var id = $('.netatmo[data-eqLogic_id=#id#]');
			id.find(".intNumHumidity").empty().append(_options.display_value);
		};
		jeedom.cmd.update['#humidity_id#']({display_value: '#humidity#'});
		
		jeedom.cmd.update['#min_temp_id#'] = function (_options) {
			var id = $('.netatmo[data-eqLogic_id=#id#]');
			id.find("span[data-cmd_id=#min_temp_id#]").empty().append(_options.display_value);
		};
		jeedom.cmd.update['#min_temp_id#']({display_value: '#min_temp#'});

		jeedom.cmd.update['#max_temp_id#'] = function (_options) {
			var id = $('.netatmo[data-eqLogic_id=#id#]');
			id.find("span[data-cmd_id=#max_temp_id#]").empty().append(_options.display_value);
		};
		jeedom.cmd.update['#max_temp_id#']({display_value: '#max_temp#'});

		jeedom.cmd.update['#pressure_id#'] = function (_options) {
			var id = $('.netatmo[data-eqLogic_id=#id#]');
			id.find("span[data-cmd_id=#pressure_id#]").empty().append(_options.display_value);
		};
		jeedom.cmd.update['#pressure_id#']({display_value: '#pressure#'});

		jeedom.cmd.update['#absolutepressure_id#'] = function (_options) {
			var id = $('.netatmo[data-eqLogic_id=#id#]');
			id.find("span[data-cmd_id=#absolutepressure_id#]").empty().append(_options.display_value);
		};
		jeedom.cmd.update['#absolutepressure_id#']({display_value: '#absolutepressure#'});

		jeedom.cmd.update['#co2_id#'] = function (_options) {
			var id = $('.netatmo[data-eqLogic_id=#id#]');
			const parsed = parseInt(_options.display_value);
			let color;
			if(parsed > 900) {
				color = "#DF5353";
			} else if(parsed > 700) {
				color = "lawngreen";
			} else {
				color = "#dd8c1a";
			}
			let co2_id = id.find("span[data-cmd_id=#co2_id#]");
			co2_id.empty().append('<i class="fas fa-cloud"></i> ' +_options.display_value);
			co2_id.style('color', color, "important");
		};
		jeedom.cmd.update['#co2_id#']({display_value: '#co2#'});

		jeedom.cmd.update['#noise_id#'] = function (_options) {
			var id = $('.netatmo[data-eqLogic_id=#id#]');
			const parsed = parseInt(_options.display_value);
			let color;
			if(parsed > 55) {
				color = "#DF5353";
			} else if(parsed > 30) {
				color = "#dd8c1a";
			} else {
				color = "lawngreen";
			}
			let noise_id = id.find("span[data-cmd_id=#noise_id#]");
			noise_id.empty().append('<i class="fas fa-volume-down"></i> ' + _options.display_value);
			noise_id.style('color', color, "important");
		};
		jeedom.cmd.update['#noise_id#']({display_value: '#noise#'});

		$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
			jeedom.cmd.execute({id: '#refresh_id#'});
		});
	</script>
</div>
