<div class="eqLogic-widget netatmo allowResize allowReorderCmd NATherm" data-category="heating"
	style="border:#border#; border-radius:#border-radius#;background-color:#background-color#; color:#color#; width:#width#; height:130px; #style#"
	data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#">
	<link rel="stylesheet" href="plugins/Netatmo/core/template/css/style.css"/>
	<center class="widget-name">
		<span class="statusCmd"></span>
		<i class='fa fa-refresh pull-right cursor refresh' title="Rafraîchir"></i>
		<div class="reachable">
			<a class="cmd pull-left" data-cmd_id="#boiler_status_id#">
					<i class="icon jeedom-pilote-conf"></i>
			</a>
			<a class="cmd pull-left" data-cmd_id="#anticipating_id#">
					<i class="icon jeedom-thermometre-celcius"></i>
			</a>
			<a class="cmd pull-left" data-cmd_id="#open_window_id#" title="open_window_name">
					<i class="icon jeedom-fenetre-ouverte"></i>
			</a>
		</div>
		<a href="#eqLink#">#name_display#</a>
	</center>
	<div class="not_reachable">
		L’appareil pas atteignable.<br/>
		#battery_state_html#
	</div>
	<div class="reachable row">
		<div class="col-xs-5" style="padding: 0px !important;">
			<div class="module">
				<div class="consigneBox">
					<span class="top"></span>
					<span class="left"></span>
					<span class="right"></span>
					<span class="botton"></span>
					<p class="cmd cmd-widget history cursor" data-type="info" data-cmd_id="#therm_setpoint_temperature_id#"></p>
				</div>
				<div class="temperatureBox">
					<span class="top"></span>
					<span class="left"></span>
					<span class="right"></span>
					<span class="botton"></span>
					<p class="cmd cmd-widget history cursor" data-type="info" data-cmd_id="#temperature_id#"></p>
				</div>
			</div>
		</div>
		<div class="col-xs-2" style="padding: 12px 0px !important;">
			<a class="cmd cmd-widget btn" data-type="action" data-cmd_id="#therm_setpoint_temperature_up_id#" title="#therm_setpoint_temperature_up_name#"
				onclick="jeedom.cmd.execute({id: '#therm_setpoint_temperature_up_id#'});">
				<span>+</span>
			</a>
			<a class="cmd cmd-widget btn" data-type="action" data-cmd_id="#therm_setpoint_temperature_down_id#" title="#therm_setpoint_temperature_down_name#"
				onclick="jeedom.cmd.execute({id: '#therm_setpoint_temperature_down_id#'});">
				<span>-</span>
			</a>
		</div>
		<div class="col-xs-5" style="padding: 0px !important;">
			<a class="cmd cmd-widget btn" data-type="action" data-cmd_id="#power_off_id#" title="#power_off_name#"
				onclick="jeedom.cmd.execute({id: '#power_off_id#'});">
				#power_off_icon#
			</a>
			<a class="cmd cmd-widget btn" data-type="action" data-cmd_id="#power_to_program_mode_id#" title="#power_to_program_mode_name#"
				onclick="jeedom.cmd.execute({id: '#power_to_program_mode_id#'});">
				#power_to_program_mode_icon#
			</a>
			<a class="cmd cmd-widget btn" data-type="action" data-cmd_id="#power_to_away_mode_id#" title="#power_to_away_mode_name#"
				onclick="jeedom.cmd.execute({id: '#power_to_away_mode_id#'});">
				#power_to_away_mode_icon#
			</a>
			<a class="cmd cmd-widget btn" data-type="action" data-cmd_id="#power_to_frost_guard_mode_id#" title="#power_to_frost_guard_mode_name#"
				onclick="jeedom.cmd.execute({id: '#power_to_frost_guard_mode_id#'});">
				#power_to_frost_guard_mode_icon#
			</a>
		</div>
	</div>
</div>

<script>
	
	jeedom.cmd.update['#reachable_id#'] = function(_options){
		let netatmo = $('.netatmo[data-eqLogic_uid=#uid#]');
		let not_reachable = netatmo.find('.not_reachable');
		let reachable = netatmo.find('.reachable');
		if(_options.display_value === '1') {
			not_reachable.css('display', 'none');
			reachable.css('display', 'block');
		} else {
			reachable.css('display', 'none');
			not_reachable.css('display', 'block');
		}
	};
	jeedom.cmd.update['#reachable_id#']({display_value: '#reachable#'});

	jeedom.cmd.update['#anticipating_id#'] = function(_options){
		let netatmo = $('.netatmo[data-eqLogic_uid=#uid#]');
		let anticipating = netatmo.find('.cmd[data-cmd_id=#anticipating_id#] i');
		if(_options.display_value === '1') {
			anticipating.css("color", "orange");
			anticipating.css("display", "block");
		} else {
			anticipating.css("color", "transparent");
			anticipating.css("display", "none");
		}
	};
	jeedom.cmd.update['#anticipating_id#']({display_value: '#anticipating#'});

	jeedom.cmd.update['#open_window_id#'] = function(_options){
		let netatmo = $('.netatmo[data-eqLogic_uid=#uid#]');
		let open_window = netatmo.find('.cmd[data-cmd_id=#open_window_id#] i');
		if(_options.display_value === '1') {
			open_window.css("color", "orange");
			open_window.css("display", "block");
		} else {
			open_window.css("color", "transparent");
			open_window.css("display", "none");
		}
	};
	jeedom.cmd.update['#open_window_id#']({display_value: '#open_window#'});
	
	jeedom.cmd.update['#boiler_status_id#'] = function(_options){
		let netatmo = $('.netatmo[data-eqLogic_uid=#uid#]');
		let boiler_status = netatmo.find('.cmd[data-cmd_id=#boiler_status_id#] i');
		console.log(_options.display_value+'(' + _options.display_value + ')')
		if(_options.display_value === '1') {
			boiler_status.css("color", "orange");
			boiler_status.css("display", "block");
		} else {
			boiler_status.css("color", "transparent");
			boiler_status.css("display", "none");
		}
	};
	jeedom.cmd.update['#boiler_status_id#']({display_value: '#boiler_status#'});

	jeedom.cmd.update['#temperature_id#'] = function(_options){
		let netatmo = $('.netatmo[data-eqLogic_uid=#uid#]');
		netatmo.find('p[data-cmd_id=#temperature_id#]').empty().append(_options.display_value);
	};
	jeedom.cmd.update['#temperature_id#']({display_value: '#temperature#'});

	jeedom.cmd.update['#therm_setpoint_temperature_id#'] = function(_options){
		let netatmo = $('.netatmo[data-eqLogic_uid=#uid#]');
		let therm_setpoint_temperature = _options.display_value;
		if(therm_setpoint_temperature === '0') {
			therm_setpoint_temperature = "OFF";
		} else if(therm_setpoint_temperature === '30') {
			therm_setpoint_temperature = "MAX";
		}
		netatmo.find('p[data-cmd_id=#therm_setpoint_temperature_id#]').empty().append(therm_setpoint_temperature);
	};
	jeedom.cmd.update['#therm_setpoint_temperature_id#']({display_value: '#therm_setpoint_temperature#'});

	jeedom.cmd.update['#therm_setpoint_mode_id#'] = function(_options){
		let netatmo = $('.netatmo[data-eqLogic_uid=#uid#]');
		console.log(_options.display_value+'(' + _options.display_value + ')')
		switch (_options.display_value) {
			case 'schedule': break;
			case 'away': break;
			case 'hg': break;
			case 'manual': break;
		}
	};
	jeedom.cmd.update['#therm_setpoint_mode_id#']({display_value: '#therm_setpoint_mode#'});
</script>